body {
    font-family: Arial;
    color: black;
    padding: 0;
    width: 100vw;
}

.button {
    border: #858585 solid 2px;
    border-radius: 8px;
    color: #858585;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}

.button:hover {
    background-color: #858585;
    color: #ffffff;
    font-weight: bold;
}

.container-fluid {
    position: relative;
}

.flexCardHorizontal {
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
}

.flexCardHorizontal,
.flexCardVertical {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flexCardParagraphs {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.flexCardTextContainer {
    align-items: stretch;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    min-width: 240px;
    width: 35vw;
}

.flexCardVertical {
    flex-direction: column;
    gap: 2vh;
    margin: 0 auto 0 auto;
}

.flexContainerVertical,
.flexContainerHorizontal {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 5vh 5vw 5vh 5vw;
    width: 100vw;
}

.flexContainerHorizontal {
    flex-wrap: wrap;
    gap: 3vw;
}

.flexContainerVertical {
    flex-direction: column;
    gap: 5vh;
}

footer {
    text-align: center;
}

h1 {
    color: ;
    font-weight: bold;
    font-family: cursive;
    font-size: 300%;
    padding-top: 9%;
}

h3,
h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-weight: bold;
}

.img-container {
    display: flex;
    overflow: hidden;
}

.img-hero {
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.img-hero-index {
    object-position: 60% 30%;
}

.img-hero-highlight {
    object-position: 70% 20%;
}

.img-hero-rig {
    object-position: 60% 60%;
}

.img-hero-us {
    object-position: 41% 70%;
}

.img-med {
    aspect-ratio: 1 / 1;
    height: auto;
    margin: 0 auto 0 auto;
    min-height: 240px;
    min-width: 240px;
    object-fit: cover;
    width: 85vw;
}

.img-small,
.img-xs {
    aspect-ratio: 1 / 1;
    min-height: 240px;
    min-width: 240px;
    object-fit: cover;
}

.img-small {
    height: 35vw;
    width: 35vw;
}

.img-xs {
    width: 20vw;
    height: 20vw;
}

.lr-pad {
    padding-left:2%;
    padding-right: 2%;
}

.nav-item {
    font-size: 120%;
}

.nav-link {
    color: black;
}

.overlay {
    opacity: 0.5;
}

p {
    font-family: Garamond, serif;
    text-align: left;
}

.page-intro {
    width: 100vw;
    height: 100vh;
}

.social-media-link {
    height: auto;
    width: 75%;
}

.text-content {
    font-family: Garamond, serif;
}