.blurb-box {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 75vw;
}

body {
    font-family: Arial;
    color: black;
}

.col-sm {
    min-width: 240px;
}

.container-fluid {
    position: relative;
}

footer {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: cursive;
    font-size: 300%;
    padding-top: 9%;
}

.img-container {
    display: flex;
    overflow: hidden;
    
}

.img-bg {
    max-width: 100%;
    max-height: auto;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.img-hl {
    object-position: 70% 20%;
}

.img-main {
    object-position: 60% 30%;
}

.img-rig {
    object-position: 60% 60%;
}

.img-us {
    object-position: 40% 70%;
}

.img-us-small {
    aspect-ratio: 1 / 1;
    min-height: 240px;
    min-width: 240px;
    object-position: 50% 15%;
    object-fit: cover;
    width: 35vw;
    height: 35vw;
}

.lr-pad {
    padding-left:2%;
    padding-right: 2%;
}

.nav-item {
    font-size: 120%;
}

.nav-link {
    color: black;
}

.overlay {
    opacity: 0.5;
}

.page-intro {
    width: 100vw;
    height: 100vh;
}

.social-media-link {
    height: auto;
    width: 75%;
}

.text-content {
    font-family: Garamond, serif;
}