<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Bootstrap - CSS only - https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <!--https://favicon.io/emoji-favicons/compass -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <title>4FV Highlights</title>
    </head>
    <body>
        <div class="container-fluid g-0 img-container page-intro position-relative">
            <!-- Nav bar -->
            <nav class="end-0 fixed-top navbar navbar-expand-md navbar-light position-absolute start-0 top-0">
                <div class="container-fluid lr-pad">
                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="bg-light navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="align-self-center bg-light me-auto mt-2 nav navbar-light navbar-nav rounded">
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/index.html">4FunnerVibes</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/us.html">About Us</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/rig.html">About Our Rig</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/rig.html" aria-current="true">Travel Highlights</a>
                            </li>
                        </ul>
                        <ul class="align-self-center bg-light ms-auto mt-2 nav navbar-light navbar-nav rounded">
                            <li class="nav-item align-self-center">
                                <a class="nav-link overlay" href="https://www.instagram.com/4funnervibes/" target="_blank" rel="noreferrer noopener"><img alt="IG" class=" social-media-link" src="https://img.icons8.com/sf-regular/48/null/instagram-new.png"></a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link overlay" href="https://ne-np.facebook.com/4FunnerVibes/" target="_blank" rel="noreferrer noopener"><img alt="fb" class="social-media-link" src="https://img.icons8.com/sf-regular/48/null/facebook.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 class="overlay position-absolute start-50 text-center top-0 translate-middle-x">Travel Highlights</h1>
            <img src="/static/Denali_0001.jpg" alt="Denali with fireweed in the foreground" class="img-bg img-hl">
        </div>
        <!-- Need a list of travel highlights -->
        <div class="container p-4 text-center">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Spending a month in Alaska</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Seeing Denali</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>The Grewingk Glacier hike</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Getting to meet and spend time with fellow travelers</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Seeing lots of moose in Canada and Alaska</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>The cinnamon rolls at McKinley View Lodge in Trapper Creek, Alaska</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Seeing a grizzly bear</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>The ruben sandwich at Beanery2Bistro in McBride, BC</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Jasper National Park</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>The scenery and wildlife north of Antigen Pass on the Dalton Highway</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Making it to the Arctic Ocean</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm"> 
                            <img href="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3>Getting to see both Tuktoyaktuk and Prudhoe Bay</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- https://www.mapchart.net/world.html -->

        <footer>
            Copyright &#169; 4FunnerVibes 2022
        </footer>
    </body>
</html>