<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Bootstrap - CSS only - https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <!--https://favicon.io/emoji-favicons/compass -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <title>4FV Us</title>
    </head>
    <body>
        <div class="container-fluid g-0 img-container page-intro position-relative">
            <!-- Nav bar -->
            <nav class="end-0 fixed-top navbar navbar-expand-md navbar-light position-absolute start-0 top-0">
                <div class="container-fluid lr-pad">
                    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="bg-light navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="align-self-center bg-light me-auto mt-2 nav navbar-light navbar-nav rounded">
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/index.html">4FunnerVibes</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/us.html" aria-current="true">About Us</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/rig.html">About Our Rig</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link" href="/templates/highlights.html">Travel Highlights</a>
                            </li>
                        </ul>
                        <ul class="align-self-center bg-light ms-auto mt-2 nav navbar-light navbar-nav rounded">
                            <li class="nav-item align-self-center">
                                <a class="nav-link overlay" href="https://www.instagram.com/4funnervibes/" target="_blank" rel="noreferrer noopener"><img alt="IG" class=" social-media-link" src="https://img.icons8.com/sf-regular/48/null/instagram-new.png"></a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link overlay" href="https://ne-np.facebook.com/4FunnerVibes/" target="_blank" rel="noreferrer noopener"><img alt="fb" class="social-media-link" src="https://img.icons8.com/sf-regular/48/null/facebook.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 class="overlay position-absolute start-50 text-center top-0 translate-middle-x">About Us</h1>
            <img src="/static/Columbia_Glacier_001.jpg" alt="Us in front of Columbia Glacier" class="img-bg img-us">
        </div>
        
        <!-- A bit about Nadz then a bit about Andy then more about us -->
        <!-- Nadeesha -->
        <div class="container blurb-box p-4 position-relative">
            <div class="align-items-center d-flex row">
                <div class="col-sm img-container">
                    <img src="/static/Saddle_Trail_Homer_0001.jpg" alt="Nadeesha on the boat ride to hike the Saddle Trail in Homer Alaska" class="img-small img-small-nadz">
                </div>
                <div class="col-sm p-2">
                    <h3 class="fw-bold p-2 text-center">About Nadeesha</h3>
                    <p class="p-1 text-content">
                        I'm originally from Sri Lanka; I came to the states for college and stuck around to 
                        hang out with Andy. I'm somewhat new to the outdoors, but ever so grateful for discovering 
                        how wonderful it is. In my 20's I didn't think I'd steer away from the corporate career path, 
                        but now I'm a part time corporate job holder and full-time overlander!!! It's exciting to 
                        see what the future holds as we continue our travels south to Ushuaia!
                    </p>
                </div>
            </div>
        </div>

        <!-- Andy -->
        <div class="align-items-center container blurb-box p-4 position-relative">
            <div class="align-items-center d-flex row">
                <div class="align-items-center col-sm img-container">
                    <img src="/static/A7307634.jpg" alt="Andy and Granger taken by The Mortells" class="img-small img-small-andy">
                </div>
                <div class="col-sm p-2">
                    <h3 class="fw-bold p-2 text-center">About Andy</h3>
                    <p class="p-1 text-content">
                        Well hello there; I'm Andy! I had originally dreamed of doing 
                        the Pan American Highway (or pah as we affectionately call it) 
                        around 2012. As a kid I did a lot of camping (shout out to the 
                        <a href="http://redwingelc.com/">Red Wing ELC</a>) and my parents 
                        took us on a few trips where we were only allowed a small duffel 
                        bag each. All of this is likely what led me to ultimately want to 
                        live in a car with Nadeesha while bopping around North and South 
                        America.
                    </p>
                </div>
            </div>
        </div>

        <!-- About us -->
        <div class="container blurb-box p-4 position-relative align-items-center">
            <div class="align-items-center d-flex row">
                <div class="align-items-center col-sm img-container">
                    <img src="/static/2022_PAH_Initial_Shoot_0032.jpg" alt="Photo of us done by our good friend Samal" class="img-small img-med-about">
                </div>
                <div class="col-sm p-2">
                    <h3 class="fw-bold p-2 text-center">About Us</h3>
                    <p class="text-content">
                        We started dating back in 2011 and got married in the fall 
                        of 2012 (Andy wasn’t wasting any time). Our first anniversary 
                        trip was also Nadeesha’s first backpacking trip and (much to 
                        Andy’s surprise) she had a blast! After that we started taking 
                        regular camping trips with friends and by ourselves. One of the 
                        many memorable experiences was a multi-day trip to the Havasupai 
                        Reservation in Arizona with several friends.
                    </p>
                    <p class="text-content">
                        Some time around 2018 we began seriously discussing doing the Pan 
                        American and in 2020 we sold our house and downsized to a much less 
                        expensive one to begin saving aggressively for the trip. Then, in the 
                        spring of 2021 we hit the road! Follow along on Instagram to see what 
                        kind of shenanigans we get into!
                    </p>
                    <p class="text-content">
                        If you have any questions we didn't answer feel free to <a href="mailto:4funnervibes@gmail.com">drop us a line</a>!
                    </p>
                </div>
            </div>
        </div>

        <footer>
            Copyright &#169; 4FunnerVibes 2022
        </footer>
    </body>
</html>